.navigationList {
    display: flex;
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
}

.navigationItem {
    margin-right: 1em;
}

.navigationItemText {
    color: black;
}
